<div class="col-xs-12">
  <h1>Editing Template</h1>

  <%= render 'form', template: @template %>
</div>

<div class="rows">
  <%= link_to 'Show', @template %> |
  <%= link_to 'Back', templates_path %>
</div>
